

$white-color: #ffffff; 
$black-color: #000000;

$grey200: #dbe8ed; 
$blue950: hsl(217, 54%, 11%);
$blue900: hsl(216, 50%, 16%);
$blue800: hsl(215, 32%, 27%);
$blue500: hsl(215, 51%, 70%);
$cyan400: hsl(178, 100%, 50%);

$text-1: 1.375rem; // 22px
$text-2: 1.125rem; //18px
$text-3: 1rem; // 16px

$space-575: 2.75rem; //44px
$space-550: 2.625rem; // 42px
$space-500: 2.5rem; // 40px
$space-400: 2rem; // 32px
$space-350: 1.85rem; // 30px
$space-325: 1.75rem; // 28px
$space-300: 1.5rem; // 24px
$space-275: 1.25rem;//20px 
$space-250: 1.125rem;//18px 
$space-200: 1rem;  // 16px
$space-175: .9375rem;//15px 
$space-150: .75rem;//12px 
$space-125: .625rem;//12px 
$space-100: .5rem; // 8px
$space-50: .25rem; // 4px -- 
// 0.625rem = 10px
// 1.125rem = 18px
// 0.75rem = 12px
// 0.188rem  = 3PX
// 0.125rem  = 2px 
// 0.063rem  = 1PX
// 0.056rem  = 0.9px
// 0.044rem  = 0.7PX
// 0.031rem  = .5px -- 0.025-0.4px  -- .019-3px -- 0.013-2px -- 0.006-1px




